{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def get_latest(datetime_a: str, datetime_b: str) -> str:
    # your code here
    return ""
{% endblock start %}

{% block example %}
print('Example:')
print(get_latest('2027-09-01T01:03:10', '1997-04-15T11:18:14'))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}get_latest({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
